.App {
  text-align: center;
  padding-bottom: 10%;
}
h3 {
  font-family:  sans-serif !important;
  color: gray !important;
  padding: 0.5em;
  margin-top: 5% !important;
  border-bottom:  double
}
.form-group{
  margin-top: 3%;
}
small {
  font-style: italic;
  font-size: 0.9em !important;
}
#cpt .form-control{
  border: none !important;
}
#imgh {
  width: 100%;
  margin: -6% 0 1% 
}
#card {
  background-color: rgb(162, 236, 236);
}
.form-control {
  border: none !important;
  border-bottom: 2px solid rgb(117, 149, 190) !important;
}
.form-control:focus {
  box-shadow: none !important;
}
.formErrors {
  font-weight: bold !important;
  background-color: rgb(197, 221, 140)
}
